 
    <mat-card-subtitle>Todos os Contatos</mat-card-subtitle>
 
  <mat-card-content>
    <mat-table [dataSource]="listContactsData">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="telephone">
        <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.telephone}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Delete</mat-header-cell>
        <mat-cell *matCellDef="let element">

          <button  mat-raised-button color="primary"  (click)="deleteContact(element.id)">
        Delete
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
    </mat-table>
  </mat-card-content>
  <mat-card-footer>
      <button  mat-raised-button color="warn"  routerLink="/newContact" style="margin: 10px">
          Novo Contato
            </button>
    <!-- <a class="btn btn-primary btn-xs pull-right " routerLink="/newContact"></a> -->
  </mat-card-footer>
 