<!-- <h3> Novo Contato</h3>
<form [formGroup]="complexForm" (ngSubmit)="newContact(complexForm.value)">
  <div class="form-group">
    <label for="">
      <b>Nome</b>
    </label>
    <input type="text" class="form-control" [formControl]="complexForm.controls['name']" />
    <div *ngIf="complexForm.controls['name'].hasError('required')" class="has-error">
      campo obrigatório</div>
  </div>
  <div class="form-group">
    <label for="">
      <b>Telefone</b>
    </label>
    <input type="text" class="form-control" [formControl]="complexForm.controls['telephone']" />
    <div *ngIf="complexForm.controls['telephone'].hasError('required')" class="has-error">
      campo obrigatório</div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid">Salvar</button>
    <a class="btn btn-primary btn-xs pull-right " routerLink="/listContacts">Voltar</a>
    
  </div>
</form> -->

<mat-card-subtitle>Novo Contato</mat-card-subtitle>
<mat-card-content>
  <form  [formGroup]="complexForm" (ngSubmit)="newContact(complexForm.value)">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nome" [formControl]="complexForm.controls['name']">
    </mat-form-field>
<br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Telefone" type="tel" maxlength="11" [formControl]="complexForm.controls['telephone']">
    </mat-form-field>
<br>
<button mat-raised-button color="primary" [disabled]="!complexForm.valid" type="submit" style="margin: 10px">
      Salvar
    </button>
  </form>
  <mat-card-footer>
    <button mat-raised-button color="warn" routerLink="/listContacts" style="margin: 10px">
      Voltar
    </button>
  </mat-card-footer>
