<h2 mat-dialog-title>{{result.result?"Sucesso":"Erro"}}</h2>
<mat-dialog-content>
  <h3 *ngIf="result.result==true">{{result.message}}</h3>
  <ul *ngIf="!result.result">
    <li *ngFor="let mess of result.message" >{{mess}}</li>
  </ul>
</mat-dialog-content>